body {
    background: #E4F2FB;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 32px;
}

h1, h2, h3 {
    font-family: "Playfair Display";
}

h2 {
    font-size: 50px;
    line-height: 94px;
}

h2:after {
    content: "";
    display: table;
    clear: both;
    border-right: 2px solid #00042D;
    height: 100px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}